@model Giori_Consul.Models.ItensReceita

@{
    ViewBag.Title = "Details";
}

<h2>Detalhe</h2>

<div>
    <h4>Itens Receita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medicamentos.NomeMedicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicamentos.NomeMedicamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceitaMedica.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceitaMedica.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
